.pop_title {
	margin-top: 1em;
	font-size: 48px;
	font-family: sans-serif;
	background-color: white;
}

.pop_pic {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1em;
	height: 60%;
	width: 80%;
}

.pop {
	border-radius: 10px;
	background-color: white;
	margin-top: 1em;
	margin-right: 1em;
	overflow-y: hidden;
	overflow-x: hidden;
}

.btn-formatting {
	margin-top: 3em;
	margin-bottom: 1em;
}

.faIcons {
	background-color: transparent;
	width: 50px;
}

.series {
	font-size: 16px;
	font-family: sans-serif;
}
