.pop {
	z-index: 1;
	position: relative;
	margin-top: 5em;
}

.search {
	z-index: 99;
	position: absolute;
	width: 70%;
	margin-top: 1em;
	margin-left: 12.5%;
	margin-right: auto;
}

.container {
	position: relative;
}
