@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.card {
	background-color: white;
	border-radius: 3px;
	height: 80vh;
	width: 100%;
	margin-top: 24px;
}

.row {
	overflow-y: hidden;
}

.no-overflow {
	overflow-y: hidden;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.portrait {
	margin-top: 0;
	background-color: gray;
	max-height: 80%;
	max-width: 60%;
	overflow: hidden;
	position: relative;
	margin-left: 20%;
	margin-top: 10vh;
}

.popTitle {
	font-family: Brush Script MT, Brush Script Std, cursive;
	font-size: 2em;
	background-color: darkred;
	color: white;
	border-radius: 5px;
	text-align: center;
	width: 100%;
	margin-top: 11.5vh;
}

#infoHeading {
	color: darkred;
	text-align: center;
	font-family: Brush Script MT, Brush Script Std, cursive;
	font-size: 48px;
}
.btn {
	margin-top: 6.5vh;
}
.btn-primary {
	background-color: darkred !important;
	color: white;
}

.btn-primary:hover {
	background-color: rgb(78, 0, 0) !important;
	color: white;
}

.chartjs-render-monitor {
	height: 50%;
}

@media only screen and (max-width: 580px) {
	.row {
		overflow-y: visible;
	}
}
