.card {
	background-color: white;
	border-radius: 3px;
	height: 82%;
	width: 100%;
	margin-top: 24px;
}

.no-overflow {
	overflow-y: hidden;
}

.portrait {
	margin-top: 1.5%;
	background-color: gray;
	height: 100%;
	width: 20%;
}
